<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>  
  <ion-item>
    <ion-label position="fixed">Username</ion-label>
    <ion-input autocomplete="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Password</ion-label>
    <ion-input autocomplete="current-password" type="password"></ion-input>
  </ion-item>
</ion-content>
