<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Identity Vault Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Identity Vault Test</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-button (click)="setVault()">Set Security Type to Both</ion-button>
    <ion-button (click)="setVaultValue()">Set Value in Vault</ion-button>
    <ion-button (click)="getStatus()">Get Status</ion-button>
    <ion-button (click)="clearVault()">Clear Vault</ion-button>
</ion-content>
